body, h1, h2, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Nunito", Arial, Helvetica, sans-serif;
    color: #222222;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

p {
	text-align: justify;
}

*{
    box-sizing: border-box;
}

/* Superinfo*/

.superinfo-bg{
    background: #002642;
    color: white;
}

.superinfo {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
}

.superinfo p, .superinfo a{
	margin: 0 10px 10px 10px;
}

.superinfo a {
	color: white;
}

/* Menu */

.menu-bg{
    background: #00b8dd;
}

.menu{
    max-width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.menu a {
	color: white;
}

.menu-logo a {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 10px;
}

.menu-nav ul {
	display: flex;
	flex-wrap: wrap;
}

.menu-nav a {
	font-size: 1.25em;
	display: block;
	padding: 10px;
}

.menu-nav a:hover{
	color: #002642;
}

/*Introdução*/

.introducao {
	font-size: 3em;
	line-height: 1;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 10px;
	padding-bottom: 10px;
}

.subtitulo {
	padding: 24px 10px;
    margin: 0 auto;
    line-height: 1;
    max-width: 960px;
}

/*Sobre*/

.sobre {
	border-top: 2px solid #00496e;
	border-bottom: 2px solid #00496e;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sobre-info {
	flex: 2 1 300px;
	margin: 0 10px;
}

.sobre-info h1 {
	font-size: 3em;
	margin-bottom: .5em;
}

.sobre-info p {
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.sobre-img {
	margin: 0 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

/*História*/

.historia {
	max-width: 960px;
	margin: 60px auto;
}

.historia {
	border-top: 2px solid #00496e;
	border-bottom: 2px solid #00496e;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}

.historia p{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}
.historia h1 {
	font-size: 3em;
	margin: 0 10px 60px 10px
}

.historia-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
}

.historia h2 {
	font-size: 3em;
	margin: 0 10px 60px 10px
}

.historia ul, li{
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

/*Modelos*/

.modelos {
	max-width: 960px;
	margin: 60px auto;
}

.modelos {
	border-top: 2px solid #00496e;
	border-bottom: 2px solid #00496e;
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
	flex-wrap: wrap;
}

.modelos h1 {
	font-size: 3em;
	margin: 0 10px 60px 10px
}

.modelos-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.modelos-item {
	flex: 1 1 175px;
	margin: 10px;
}

.modelos-item h2 {
	font-size: 3em;
	color: #a4a4a4;
	background: #f7f7f7;
	padding: 60px 20px;
}

.purple {
	border-top: 8px solid orange;
}

.pink {
	border-top: 8px solid #f9265e;
}

.blue {
	border-top: 8px solid rgb(102, 51, 153);
}



/*Newsletter*/

.newsletter {
	background: #f7f7f7;
	padding: 60px calc((100% - 960px) / 2 );
	display: flex;
	flex-wrap: wrap;
}

.newsletter-info {
	flex: 1 1 240px;
	margin: 0 10px;
}

.newsletter-info h1 {
	font-size: 3em;
	color: #a4a4a4;
}

.newsletter-info p {
	font-size: 1.25em;
	font-style: italic;
	max-width: 230px;
	color: #7c7c7c;
	margin-bottom: 10px;
}

.newsletter-form {
	flex: 2 1 260px;
	margin: 0 10px;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form input {
	flex: 3 1 260px;
	font-size: 1.25em;
	color: #7c7c7c;
	font-style: italic;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	border: 4px solid #00496e;
	background: transparent;
	padding: 15px 10px;
	margin: 0px;
	border-radius: 0px;
}

.newsletter-form a {
	flex: 1 1 260px;
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;
	background: #00b8dd;
	color: white;
	margin: 0px;
	cursor: pointer;
	border: 0px;
	padding: 15px 10px;
}

@media (max-width: 600px) {
	.newsletter-form a {
		font-size: 1.5em;
	}
}


/*Footer*/

.footer {
	display: flex;
	background: #00496e;
	height: 200px;
	align-items: center;
}

.footer p {
	flex: 1;
	text-align: center;
	font-size: 2.25em;
	color: #002642;
}